# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.BlockerPasses.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
BlockerPasses/.idea
*.user
*.cache
*.editorconfig
BlockerPasses/obj/Debug/net7.0/BlockerPasses.AssemblyInfo.cs
BlockerPasses/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
BlockerPasses/obj/Debug/net7.0/BlockerPasses.GlobalUsings.g.cs
BlockerPasses/obj/BlockerPasses.csproj.nuget.dgspec.json
BlockerPasses/obj/BlockerPasses.csproj.nuget.g.props
BlockerPasses/obj/BlockerPasses.csproj.nuget.g.targets
BlockerPasses/obj/project.assets.json
BlockerPasses/obj/project.packagespec.json
BlockerPasses/obj/rider.project.restore.info
*.json
*.pdb
*.CopyComplete
*.txt
BlockerPasses/obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
BlockerPasses/obj/release/net7.0/BlockerPasses.AssemblyInfo.cs
BlockerPasses/obj/release/net7.0/BlockerPasses.GlobalUsings.g.cs
BlockerPasses/obj/BlockerPasses.csproj.EntityFrameworkCore.targets
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/discord-ij.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/discord.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/workspace.xml
BlockerPasses/bin/release/net7.0/publish/BlockerPasses.zip
BlockerPasses/obj/BlockerPasses.csproj.nuget.g.props
BlockerPasses/obj/BlockerPasses.csproj.nuget.g.targets
BlockerPasses/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
BlockerPasses/obj/Debug/net7.0/BlockerPasses.AssemblyInfo.cs
BlockerPasses/obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
BlockerPasses/obj/release/net7.0/BlockerPasses.AssemblyInfo.cs
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/vcs.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/indexLayout.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/projectSettingsUpdater.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/indexLayout.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/projectSettingsUpdater.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/vcs.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/workspace.xml
BlockerPasses/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
BlockerPasses/obj/Debug/net7.0/BlockerPasses.AssemblyInfo.cs
BlockerPasses/obj/BlockerPasses.csproj.nuget.g.props
BlockerPasses/obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
*.targets
BlockerPasses/obj/release/net7.0/BlockerPasses.AssemblyInfo.cs
BlockerPasses/bin/release/net7.0/publish/BlockerPasses.zip
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/discord-ij.xml
*.xml
*.info
BlockerPasses/bin/release/net7.0/BlockerPasses.dll
BlockerPasses/bin/release/net7.0/CounterStrikeSharp.API.dll
BlockerPasses/bin/release/net7.0/publish/addons/counterstrikesharp/plugins/BlockerPasses/BlockerPasses.dll
BlockerPasses/bin/release/net7.0/publish/BlockerPasses.dll
BlockerPasses/bin/release/net7.0/publish/CounterStrikeSharp.API.dll
BlockerPasses/obj/release/net7.0/BlockerPasses.dll
BlockerPasses/obj/release/net7.0/ref/BlockerPasses.dll
BlockerPasses/obj/release/net7.0/refint/BlockerPasses.dll
BlockerPasses/bin/release/net7.0/publish/System.Diagnostics.EventLog.dll
BlockerPasses/bin/release/net7.0/publish/McMaster.NETCore.Plugins.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.DotNet.PlatformAbstractions.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Configuration.Abstractions.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Configuration.Binder.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Configuration.CommandLine.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Configuration.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Configuration.FileExtensions.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Configuration.Json.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Configuration.UserSecrets.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.DependencyInjection.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.DependencyModel.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.FileProviders.Physical.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.FileProviders.Abstractions.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.FileSystemGlobbing.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Hosting.Abstractions.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Hosting.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Localization.Abstractions.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Logging.Abstractions.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Logging.Configuration.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Logging.Debug.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Logging.Console.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Logging.EventLog.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Logging.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Logging.EventSource.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Options.ConfigurationExtensions.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Options.dll
BlockerPasses/bin/release/net7.0/publish/runtimes/win/lib/net7.0/System.Diagnostics.EventLog.dll
BlockerPasses/bin/release/net7.0/publish/Microsoft.Extensions.Primitives.dll
BlockerPasses/bin/release/net7.0/publish/runtimes/win/lib/net7.0/System.Diagnostics.EventLog.Messages.dll
BlockerPasses/bin/release/net7.0/publish/Serilog.dll
BlockerPasses/bin/release/net7.0/publish/Scrutor.dll
BlockerPasses/bin/release/net7.0/publish/Serilog.Sinks.Console.dll
BlockerPasses/bin/release/net7.0/publish/Serilog.Extensions.Logging.dll
BlockerPasses/bin/release/net7.0/publish/Serilog.Sinks.File.dll
BlockerPasses/CounterStrikeSharp.API.dll
