# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.BlockerPasses.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
BlockerPasses/.idea
*.user
*.cache
*.editorconfig
BlockerPasses/obj/Debug/net7.0/BlockerPasses.AssemblyInfo.cs
BlockerPasses/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
BlockerPasses/obj/Debug/net7.0/BlockerPasses.GlobalUsings.g.cs
BlockerPasses/obj/BlockerPasses.csproj.nuget.dgspec.json
BlockerPasses/obj/BlockerPasses.csproj.nuget.g.props
BlockerPasses/obj/BlockerPasses.csproj.nuget.g.targets
BlockerPasses/obj/project.assets.json
BlockerPasses/obj/project.packagespec.json
BlockerPasses/obj/rider.project.restore.info
*.dll
*.json
*.pdb
*.CopyComplete
*.txt
BlockerPasses/obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
BlockerPasses/obj/release/net7.0/BlockerPasses.AssemblyInfo.cs
BlockerPasses/obj/release/net7.0/BlockerPasses.GlobalUsings.g.cs
BlockerPasses/obj/BlockerPasses.csproj.EntityFrameworkCore.targets
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/discord-ij.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/discord.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/workspace.xml
BlockerPasses/bin/release/net7.0/publish/BlockerPasses.zip
BlockerPasses/CounterStrikeSharp.API.dll
BlockerPasses/CounterStrikeSharp.API.dll
BlockerPasses/obj/BlockerPasses.csproj.nuget.g.props
BlockerPasses/obj/BlockerPasses.csproj.nuget.g.targets
BlockerPasses/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
BlockerPasses/obj/Debug/net7.0/BlockerPasses.AssemblyInfo.cs
BlockerPasses/obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
BlockerPasses/obj/release/net7.0/BlockerPasses.AssemblyInfo.cs
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/vcs.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/indexLayout.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/projectSettingsUpdater.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/indexLayout.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/projectSettingsUpdater.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/vcs.xml
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/workspace.xml
BlockerPasses/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
BlockerPasses/obj/Debug/net7.0/BlockerPasses.AssemblyInfo.cs
BlockerPasses/obj/BlockerPasses.csproj.nuget.g.props
BlockerPasses/obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
*.targets
BlockerPasses/obj/release/net7.0/BlockerPasses.AssemblyInfo.cs
BlockerPasses/bin/release/net7.0/publish/BlockerPasses.zip
BlockerPasses/.idea/.idea.BlockerPasses.dir/.idea/discord-ij.xml
*.xml
*.info
